.chattest-page {
    .common-box {
        padding: 20px;
        border-radius: 6px;
        background-color: #FFFFFF;

        .mesage-box {
            height: 380px;
            border: 1px solid #d9d9d9;
            border-radius: 6px;
            margin-bottom: 5px;
            padding: 10px;

            .message-item {
                background-color: lightcyan;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            .ask-item {
                display: flex;
                flex-direction: row-reverse;
            }
            .answer-item {
                width: max-content;
            }
        }
    }

    .btn-box {
        margin-bottom: 10px;
    }

    .query-box {
        margin-bottom: 16px;
    }
}